body{

    background-image: url(https://images.unsplash.com/photo-1585756995009-5f5d9a578015?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1872&q=80)
        

}

div{

    max-width: 500px;
    margin: auto;


}

header{


    background-color: rgb(66, 99, 66);
    opacity: 0.6;
    max-width: 700px;
    border-radius: 30px;
    border-style: white double;


}

h1{

    text-align: center;
    color: white;
    background-color: rgb(2, 8, 2);
    font-style:oblique;
    border: 4px;
    border: solid black 5px;
    padding: 15px;
}


ul{


    background-color: rgb(43, 66, 43);
    align-content: center;


}



nav{


    padding: 5px;
    text-align: center;
    


}


li{
    
    color: rgb(248, 246, 246);
    display: inline-block;
    border: black solid;
    padding: 10px;
    align-content: center;
    
    

    
}

a{


    color: white;
    max-width: 700px;

}

#history {

    color: white;
    font-size: 25px;
    font-style: oblique;
    font-size: xx-large;
    padding: 10px;

} 

#origin {
        
     background-color: rgba(18, 109, 56, 0.61);
     opacity: 0.7;
     border: white double;
     border-width: 10px;
     padding: 10px;

}

p{

    text-align: center;
    max-width: 700px;


}

#mysection{

    background-color: rgb(250, 225, 250);
    border-radius: 30px;
    

}

section{

    background-color: rgb(103, 138, 126);
    border-style: double;
    border-color: white;
    border-radius: 30px;
    padding-left: 20px;
    max-width: 700px;

}

img{
    
    max-width: 55%;
    object-position: right bottom;
    border-radius: 15px;

}

